node_modules

.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

auto-imports.d.ts
components.d.ts

src/nova-creator-cli
src/作为异世界的系统/TODO.txt
vscode/launch.json
