@import 'tailwindcss';

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    background: transparent;
    overflow: hidden;
  }
}
